body
{
    font-family: 'Ubuntu', sans-serif;
    background: linear-gradient(180deg, #ddd, #fff) repeat-x;
}

#container
{
    width:960px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    min-height: 100vh;
}

#pattern
{
    border:1px solid black;
    width:600px;
}

#scramble
{
    width: 400px;
}